/* body{
    
    background: url("coffee2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
} */

.navbar ul{
    list-style-type: none;
    text-align: right;
    
    
}
.navbar li{
    display: inline-block;
    padding-top: 2px;
    
    
}
.navbar a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 20px 20px;
    font-family: arial;
    /* font-size: 1em; */
    font-weight: bold;
   
    

}
.navbar a:hover{
    background-color: brown;
    color: black;
}

p{
    color: white;
    margin-top:10px ;
    margin-bottom:10px ;
}
P1{
    font-family: fantasy;
}
.p2{
    font-size: 2em;
    font-weight: bold;
    
}

.coffee-text{
   

    text-align: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;

    
    
}
.beans-image{
    margin-top: 250px;
    margin-left: 20px;
    height: 300px;
    width: 600px;
    position: absolute;
}
    